// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul.pagination {
	justify-content: center;
	.page-item.active .page-link {
		background-color: #1e5f74;
		border-color: #133b5c;
		color: rgba(255,255,255,.8);
	}
	.page-item .page-link {
		color: #1e5f74;
	}
}